/* Genel Stil Ayarları */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
    min-height: 24px;
}

#feedback.green {
    color: green;
}

#feedback.red {
    color: red;
}

/* Karanlık Mod Stilleri */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode #app {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-mode h1 {
    color: #ffffff;
}

body.dark-mode input[type="text"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode button {
    background-color: #BB86FC;
}

body.dark-mode button:hover {
    background-color: #9b52ff;
}

body.dark-mode #feedback.green {
    color: #00e676;
}

body.dark-mode #feedback.red {
    color: #ff3d00;
}

/* Toggle Butonu için Stil Ayarları */
.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fffbfb;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#stars {
    margin-bottom: 20px;
}

#stars i {
    color: gold;
    font-size: 24px;
    margin: 0 5px;
}

.spaced-button {
    margin-bottom: 15px;
}
